.Values {
  min-height: 740px;

  @apply relative overflow-hidden;

  h1 {
    @apply font-noto-bold text-4xl font-bold text-white lg:text-5xl xl:text-6xl;
  }

  h3 {
    @apply mb-5 font-noto-bold text-xl font-bold uppercase text-white;
  }

  span {
    @apply font-noto-bold text-2xl font-bold text-white;
  }

  p {
    @apply my-10 font-noto-medium text-xl font-normal leading-loose lg:text-2xl;

    @media only screen and (min-width: 1024px) {
      & {
        line-height: 3rem;
      }
    }
  }

  &::before {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    width: 70%;
    height: 100%;
    content: '';
    transform: skew(45deg);
    @apply bg-primary;

    @media only screen and (max-width: 768px) {
      & {
        margin-left: -58%;
        transform: skew(30deg);
      }
    }
  }

  .btn-group-prev {
    &:hover {
      .btn {
        & > div:nth-child(1) {
          @apply bg-black;
          &::before {
            @apply bg-white;
          }
        }
        & > div:nth-child(2) {
          @apply bg-black;

          &::before {
            @apply text-black;
          }
        }
      }
    }
  }

  .btn-group-next {
    &:hover {
      .btn {
        & > div:nth-child(2) {
          @apply bg-black;
          &::before {
            @apply bg-white;
          }
        }
        & > div:nth-child(1) {
          @apply bg-black;

          &::before {
            @apply text-black;
          }
        }
      }
    }
  }

  .prev,
  .next {
    @apply flex flex-row items-center space-x-5;

    .icon {
      @apply h-20 w-20;
    }

    .btn {
      @apply flex flex-row items-center;

      & > div {
        @apply duration-200 ease-in-out;
      }
    }
  }

  .prev {
    .btn {
      & > div:first-child {
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;

        @scale: 1;
        @img: './img/arrow.png';

        @apply relative flex h-10 w-10 items-center justify-center rounded-full bg-white;

        &::before {
          width: 100%;
          height: 100%;
          content: '';

          mask-image: url(@img);
          mask-position: center;
          mask-size: 8px;
          mask-repeat: no-repeat;

          @apply absolute bg-black;
        }
      }

      & > div:nth-child(2) {
        height: 1px;
        @apply relative w-20 bg-white lg:w-32;

        &::before {
          position: absolute;
          right: 0;
          bottom: 7px;
          content: 'PREV';
          @apply text-xs text-white duration-200;
        }
      }
    }
  }

  .next {
    .btn {
      & > div:nth-child(2) {
        width: image-width(@img) * @scale;
        height: image-height(@img) * @scale;

        @scale: 1;
        @img: './img/arrow.png';

        @apply relative flex h-10 w-10 items-center justify-center rounded-full bg-white;

        &::before {
          width: 100%;
          height: 100%;
          content: '';
          transform: scale(-1, 1);

          mask-image: url(@img);
          mask-position: center;
          mask-size: 8px;
          mask-repeat: no-repeat;

          @apply absolute bg-black;
        }
      }

      & > div:nth-child(1) {
        height: 1px;
        @apply relative w-20 bg-white lg:w-32;

        &::before {
          position: absolute;
          bottom: 7px;
          left: 0;
          content: 'NEXT';
          @apply text-xs text-white;
        }
      }
    }
  }

  .ico-0 {
    background-image: url('./img/animals-0.svg');
    @apply bg-contain bg-center bg-no-repeat transition-transform;
  }

  .ico-1 {
    background-image: url('./img/animals-1.svg');
    transform: scale(-1, 1);
    @apply bg-contain bg-center bg-no-repeat transition-transform;
  }

  .ico-2 {
    background-image: url('./img/animals-2.svg');
    @apply bg-contain bg-center bg-no-repeat transition-transform;
  }

  .ico-3 {
    background-image: url('./img/animals-3.svg');
    transform: scale(-1, 1);
    @apply bg-contain bg-center bg-no-repeat transition-transform;
  }

  .ico-4 {
    background-image: url('./img/animals-4.svg');
    @apply bg-contain bg-center bg-no-repeat transition-transform;
  }
}
