.Flow {
  @apply relative h-full w-full;

  & > div {
    @apply absolute hidden select-none lg:block;

    .context {
      background-color: rgba(255, 255, 255, 0.5);
      @apply flex flex-col items-start justify-start space-y-2 p-1 font-noto-bold font-bold md:bg-transparent md:p-0;

      & > div {
        @apply whitespace-nowrap;
      }

      .sup {
        @apply text-xl text-black;
      }

      .body {
        background-color: #f48e8e;
        @apply relative space-y-1 px-5 py-3 font-noto-bold text-base font-bold text-black lg:text-lg;
      }

      .subtitle {
        @apply flex flex-col items-start space-y-2 text-xl lg:text-2xl;
      }

      .title {
        @apply text-3xl text-black lg:text-4xl;
      }

      .symbols-0 {
        &::before {
          position: absolute;
          top: -30px;
          right: -18px;
          z-index: 10;
          width: image-width(@img) * @scale;
          height: image-height(@img) * @scale;
          background-image: url(@img);
          background-size: 100%;
          content: '';

          @scale: 0.5;
          @img: './img/symbols-0.png';
        }
      }

      .symbols-1 {
        &::before {
          position: absolute;
          top: -10px;
          left: -50px;
          z-index: 10;
          width: image-width(@img) * @scale;
          height: image-height(@img) * @scale;
          background-image: url(@img);
          background-size: 100%;
          content: '';

          @scale: 0.5;
          @img: './img/symbols-1.png';
        }
      }

      .symbols-2 {
        &::before {
          position: absolute;
          top: -25px;
          right: -98px;
          z-index: 10;
          width: image-width(@img) * @scale;
          height: image-height(@img) * @scale;
          background-image: url(@img);
          background-size: 100%;
          content: '';

          @scale: 0.5;
          @img: './img/symbols-2.png';
        }
      }

      .symbols-4 {
        &::before {
          position: absolute;
          top: -24px;
          left: -56px;
          z-index: 10;
          width: image-width(@img) * @scale;
          height: image-height(@img) * @scale;
          background-image: url(@img);
          background-size: 100%;
          content: '';

          @scale: 0.5;
          @img: './img/symbols-3.png';
        }
      }

      .symbols-5 {
        &::before {
          position: absolute;
          top: -1px;
          right: -38px;
          z-index: 10;
          width: image-width(@img) * @scale;
          height: image-height(@img) * @scale;
          background-image: url(@img);
          background-size: 100%;
          content: '';

          @scale: 0.5;
          @img: './img/symbols-4.png';
        }
      }
    }
  }

  .flow0 {
    right: -171px;
    bottom: calc(~'100% + 0px');

    @media only screen and (max-width: 768px) {
      & {
        right: -212px;
      }
    }
  }

  .flow1 {
    bottom: 100%;
    left: 0;

    @media only screen and (max-width: 768px) {
      & {
        left: -115px;
      }
    }
  }

  .flow2 {
    bottom: 100%;
    left: -36px;

    @media only screen and (max-width: 768px) {
      & {
        left: -50px;
      }
    }
  }

  .flow3 {
    bottom: 100%;
    left: 0;

    @media only screen and (max-width: 768px) {
      & {
        left: 102%;
      }
    }
  }

  .flow4 {
    bottom: -100%;
    left: calc(~'100% + 45px');
    & > .context {
      @apply space-y-1;
    }

    @media only screen and (max-width: 768px) {
      & {
        top: 100%;
        left: 0;
      }
    }
  }

  .flow5 {
    bottom: -200%;
    left: calc(~'0% - 45px');
  }

  .flow6 {
    top: calc(~'100% + 20px');
    left: -200%;
  }

  .symbols-0 {
  }
}

.MobileFlow {
  @apply w-full px-10;
  @apply flex flex-col items-start justify-start space-y-4 font-noto-bold font-bold;

  & > div {
    // @apply whitespace-nowrap;
  }

  h2 {
    @apply w-min bg-black p-2 font-noto-bold text-3xl font-bold text-backgroundColor;
  }

  .step {
    width: image-width(@img) * @scale;
    height: image-height(@img) * @scale;
    background-size: 100%;

    @scale: 0.5;
    @img: './img/step1.jpg';
  }

  .step1 {
    background-image: url('./img/step1.jpg');
  }

  .step2 {
    background-image: url('./img/step2.jpg');
  }

  .step3 {
    background-image: url('./img/step3.jpg');
  }

  .step4 {
    background-image: url('./img/step4.jpg');
  }

  .step5 {
    background-image: url('./img/step5.jpg');
  }

  .step6 {
    background-image: url('./img/step6.jpg');
  }

  .step7 {
    background-image: url('./img/step7.jpg');
  }

  .title {
    @apply text-4xl text-black;
  }

  .subtitle {
    @apply flex flex-col space-y-2 text-3xl text-white;
  }

  .sup {
    @apply text-xl text-black;
  }

  .body {
    background-color: #f48e8e;
    @apply relative w-full space-y-1 px-6 py-3 font-noto-bold text-xl font-bold text-black;
  }

  .symbols-0 {
    &::before {
      position: absolute;
      top: -38px;
      right: -25px;
      z-index: 10;
      width: image-width(@img) * @scale;
      height: image-height(@img) * @scale;
      background-image: url(@img);
      background-size: 100%;
      content: '';

      @scale: 0.6;
      @img: './img/symbols-0.png';
    }
  }

  .symbols-1 {
    &::before {
      position: absolute;
      top: -42px;
      right: 14px;
      z-index: 10;
      width: image-width(@img) * @scale;
      height: image-height(@img) * @scale;
      background-image: url(@img);
      background-size: 100%;
      content: '';

      @scale: 0.5;
      @img: './img/symbols-1.png';
    }
  }

  .symbols-2 {
    &::before {
      position: absolute;
      top: -43px;
      right: 32px;
      z-index: 10;
      width: image-width(@img) * @scale;
      height: image-height(@img) * @scale;
      background-image: url(@img);
      background-size: 100%;
      content: '';

      @scale: 0.6;
      @img: './img/symbols-2.png';
    }
  }

  .symbols-4 {
    &::before {
      position: absolute;
      top: -24px;
      right: 71px;
      z-index: 10;
      width: image-width(@img) * @scale;
      height: image-height(@img) * @scale;
      background-image: url(@img);
      background-size: 100%;
      content: '';

      @scale: 0.5;
      @img: './img/symbols-3.png';
    }
  }

  .symbols-5 {
    &::before {
      position: absolute;
      top: -4px;
      right: 141px;
      z-index: 10;
      width: image-width(@img) * @scale;
      height: image-height(@img) * @scale;
      background-image: url(@img);
      background-size: 100%;
      content: '';

      @scale: 0.5;
      @img: './img/symbols-4.png';
    }
  }
}
